{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Team members -->
<link href="/static/css/index.css" rel="stylesheet">
<section class="teams text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Our Teams</h2>
    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="teams-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="/static/img/teams-1.jpg" alt="">
          <h5>Anh T.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="teams-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="/static/img/teams-2.jpg" alt="">
          <h5>Khoi N.</h5>
          <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="teams-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="/static/img/teams-3.jpg" alt="">
          <h5>Dung D.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4">
          <div class="teams-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/teams-1.jpg" alt="">
            <h5>Anh T.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="teams-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="/static/img/teams-2.jpg" alt="">
          <h5>Khoi N.</h5>
          <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
        </div>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
</section>

{% endblock %}
