{% extends "base.html" %} {% load static %} {% block content %}
<link href="/static/css/share.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css"
/>

<div class="content">
<div class="container sharebox">
  <div class="row">
    <div class="col-md-6">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>
						<div class="space input-group flex-nowrap">
							<input type="text" class="form-control" placeholder="Your name" aria-label="Your name" aria-describedby="addon-wrapping">
						</div>
						<div class="space input-group flex-nowrap">
							<input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="addon-wrapping">
						</div>
						<div class="space input-group flex-nowrap">
							<input type="text" class="form-control" placeholder="Topic" aria-label="topic" aria-describedby="addon-wrapping">
						</div>
            <textarea placeholder="Tell us your story"></textarea>
            <ul>
              <li>
                <a
                  title=""
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Audio"
                  ><i class="fa fa-music"></i
                ></a>
              </li>
              <li>
                <a
                  title=""
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Video"
                  ><i class="fa fa-video"></i
                ></a>
              </li>
              <li>
                <a
                  title=""
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Sound Record"
                  ><i class="fa fa-microphone"></i
                ></a>
              </li>
            </ul>
            <a href="{% url 'details' %}" class="button btn btn-success green">
              <i class="fa fa-share"></i> Share
						</a>
          </form>
        </div>
        <!-- Status Upload  -->
      </div>
      <!-- Widget Area -->
    </div>
  </div>
</div>
</div>
{% endblock %}
